@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

/* Color Scheme */
* {
  margin: 0px;
  padding: 0px;
  cursor: none !important; }

* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

*,
:after,
:before {
  box-sizing: border-box; }

body {
  font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

a:link {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.primarycolor {
  color: #2eff2e; }

::selection {
  background-color: #8aff8a;
  color: black; }

h1 {
  margin-bottom: 10px;
  line-height: 2; }

p {
  font-size: 16px;
  line-height: 2.5; }

.start_section {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 25vh; }

.bullet {
  position: absolute;
  left: -5px;
  top: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #2eff2e;
  background-color: #1b191e; }

.timeline.alt {
  top: 0; }

.timeline {
  width: 1px;
  height: 300%;
  left: -10px;
  top: 0px;
  z-index: 9;
  position: absolute;
  background-color: #2eff2e; }

.section_item {
  margin-top: 35px; }

.subtitles {
  font-size: 3rem; }

.explore {
  font-size: 1.5rem;
  color: #494949;
  font-weight: 300; }

footer {
  background-color: #0e0d10;
  box-shadow: 0 0 76px 0 rgba(10, 7, 22, 0);
  overflow: hidden; }
  footer .small_footer {
    position: absolute;
    bottom: 20px;
    color: #988e9f;
    font-size: 14px; }

.footer_wrap {
  margin: 50px 0px 90px;
  font-family: Roboto Mono, Courier New, Courier, monospace !important; }
  .footer_wrap .social_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    .footer_wrap .social_wrap-item {
      width: 32%;
      gap: 2%; }
    .footer_wrap .social_wrap .social_link {
      color: #5918df;
      font-size: 1.1rem; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

.btn {
  margin: 30px 0;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  padding: 17px 35px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  line-height: 1;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(-45deg, #e39d24, #ff0081, #0040ff, #5918df);
  background-size: 1100%;
  border: none;
  position: relative;
  transform: scaleX(1); }

.btn:focus,
.btn:hover {
  transform: scale3d(1.1, 1.1, 1);
  background-position: 100% 50%;
  bottom: 2px; }

.btn:focus .btn2,
.btn:hover .btn2 {
  background-position: 100% 50%;
  bottom: -5px;
  -webkit-filter: blur(25px);
  filter: blur(25px); }

.cursor__inner {
  position: fixed;
  z-index: 10000;
  transform: scale(1);
  user-select: none;
  pointer-events: none;
  border-radius: 100%; }
  .cursor__inner-circle {
    background-color: #fff;
    width: 6px;
    height: 6px;
    left: -13px;
    top: -13px; }
  .cursor__inner-dot {
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    left: -21px;
    top: -21px; }

#about {
  background-color: #14121c;
  position: relative;
  overflow: hidden;
  height: auto; }
  #about .code_wrap {
    font-family: Roboto Mono, Courier New, Courier, monospace !important;
    font-size: 1rem;
    line-height: 1.6; }
  #about .code_l {
    position: relative;
    z-index: 1; }
    #about .code_l::after {
      content: attr(data-line-nr);
      position: absolute;
      left: -60px;
      color: #3b3553;
      font-family: Roboto Mono, Courier New, Courier, monospace !important;
      font-size: 16px;
      line-height: 1.6;
      z-index: 3;
      top: 0; }
  #about .code_line {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
    #about .code_line::after {
      content: attr(data-line-nr);
      position: absolute;
      left: -60px;
      color: #3b3553;
      font-family: Roboto Mono, Courier New, Courier, monospace !important;
      font-size: 16px;
      line-height: 1.6;
      z-index: 3;
      top: 0; }
  #about .cursor:before {
    opacity: 0;
    content: '|';
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite; }

.comment {
  color: #78707e;
  display: inline; }

.func {
  display: inline;
  color: #eeff31; }

.funcname {
  color: #ff48a5;
  padding: 0px 8px; }

.dot {
  display: inline;
  color: #3b3553; }

.this {
  color: #f00404f1; }

.prop {
  color: #0040ff;
  display: inline; }

.yellow {
  color: #eeff31; }

.equal {
  color: #eeff31;
  padding: 0px 5px; }

.primarycolor {
  color: #8aff8a; }

.myname {
  color: #8aff8a; }

.orange {
  color: #e39d24; }

.pr10 {
  padding-right: 5px; }

.strings {
  padding: 0px 6px;
  color: #2eff2e; }

.ff {
  display: inline-block; }

.section_container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 68%;
  margin: 0px auto;
  padding: 0px 15px; }

.section_content {
  margin-top: 20px;
  padding-bottom: 45px; }

.section_titles {
  font-size: 2.2rem;
  font-weight: 300;
  color: #988e9f;
  margin-top: -5px; }

.section_title {
  font-size: 2.2rem;
  font-weight: 300;
  color: #988e9f;
  margin-top: 30px; }
  .section_title::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 35px;
    z-index: 10;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #2eff2e;
    background-color: #1b191e; }

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  height: 4rem;
  z-index: 1030; }
  .header--fixed {
    position: fixed; }
  .header--hidden {
    transform: translate3d(0, -4rem, 0); }

.header.activated {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: inset 0 35px 13px rgba(14, 12, 22, 0.85); }

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .nav-item {
    padding: 0px 10px; }
  .nav-link.active {
    color: white; }
  .nav-link {
    color: rgba(235, 224, 224, 0.5); }
    .nav-link span {
      color: #494949; }
    .nav-link:hover {
      color: rgba(255, 255, 255, 0.75); }

/*# sourceMappingURL=main.css.map */