/* Color Scheme */
$primary: #2eff2e;
$primarylight: #8aff8a;
$primarydark: #00ca00;
$grey: #494949;
$white: #fff;
$offwhite: rgba(235, 224, 224, 0.5);
$offwhite1: rgba(255, 255, 255, 0.75);
$aboutbg: #14121c;
$yellow: #eeff31;
$red: #ff1700;
$orange: #fc5404;
$pink: #ffc4e1;
$pinklight: #ff48a5;
$indigo: #5918df;
$blue: #88fff7;
$sky: #11ffee;

$titlecolor: #988e9f;
