
.c-number {
  margin-left: 0;
  margin-right: 0;
  width: 2.8rem;
}

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -3.5rem;
  position: relative;

  &-item {
    width: 100%;
    padding-right: 3.5rem;
    margin-bottom: 0;
  }
  &-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

