
.section {
  &__header {
    background: #282929;
  }
}

.h-border {
  border-top: 1px solid #404242;
  border-bottom: 1px solid #404242;
}

.c-padding {
  padding: 1.75rem 1.75rem 0rem;
}

.avatar-img {
  border-radius: 50%;
  width: 11rem;
}

.u {
  
  &_name {

    &-first {
      text-transform: lowercase;
      font-weight: 300;
      color: #a4a5a6;
      display: block;
    }

    &-last{
      text-transform: uppercase;
      font-weight: 700;
      color: $primary;
      display: block;
    }
  }
  &-title {
    font-size: 4.8rem;
    line-height: 0.91;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  &-sub-title{
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    color: #979899;
  }
}
.name-sizer{
  font-size: 65%;
}

.social__icons{
 display: flex;
 justify-content: center;

 &-item {
   margin-right: 10px;
 }

 &-link {
  background: #3f4040;
  display: block;
  text-align: center;
  width: 33px;
  height: 33px;
  font-size: .8rem !important;
  line-height: 2.7 !important;
  border-radius: 2px;
  border: 2px solid #3f4040;

  i {
    color: #717273;
  }

  &:hover {
    i{
      color: #e0a80d;
    }
  }
}
}

.contact__grid {
  h4{
    font-size: 14px;
  }
}