* {
  margin: 0px;
  padding: 0px;
}
* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background: $background;
  color: $text;
  font-size: 1rem;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75;
  font-weight: 400;
}

ul {
  list-style: none;
}


h1, h2, h3, h4, h5, h6 {
    color: $heading;
}

.container {
  max-width: 1276px;
  margin: 0 auto;
}

img {
  width:100%;
  height: auto;
}

.pb-0 { padding-bottom: 0px !important;}
.pt-0 {padding-top: 0px !important;}
.mb-0 { margin-bottom: 0px;}
.mb {
  margin-bottom: 1.75rem;
}

.pb {
  padding-bottom: 1.75rem;
}

.section {position: relative;}

.t-sub-title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 0.3rem;
}
.t-sub-title {
  color: #979899;
}
.c-brand__sub-title {
  margin-bottom: 0;
}

.c-brand__title, .c-brand__subtitle {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.75;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

hr {
  height: 2px;
  color: #ccc;
  background: #404242;
  font-size: 0;
  border: 0;
}

hr, .t-border-color {
  border-color: #404242;
}


a {
  transition: all .15s linear;
  text-decoration: none;
  background: transparent;
}

.fa-lg{ vertical-align: 0%;}

h2, h3, .c-number {
  font-size: 1.2rem;
  line-height: 1.45;
  text-transform: uppercase;
}
 .primary {   
  color: $primary;
 }

 .progress {
  position: relative;
  height: 5px;
  background: #404242;
  margin-top: 0.55rem;
  &-bar {
     background: $primary;
     height: 100%;
  }
 }

 .t-link-container {
  color: inherit;

  &:hover {
    .t-link-item {
      color: white;
    }
  }
 }

 .upper{
  text-transform: uppercase;
 }
