* {
  margin: 0px;
  padding: 0px;
  cursor: none !important;
}
* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.primary {
  color: $primary;
}

::selection {
  background-color: $primarylight;
  color: black;
}

h1 {
  margin-bottom: 10px;
  line-height: 2;
}

p {
  font-size: 16px;
  line-height: 2.5;
}

.start_section {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 25vh;
}

.bullet {
  position: absolute;
  left: -5px;
  top: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid $primary;
  background-color: #1b191e;
}

.timeline.alt {
  top: 0;
}

.timeline {
  width: 1px;
  height: 300%;
  left: -10px;
  top: 0px;
  z-index: 9;
  position: absolute;
  background-color: $primary;
}

.section_item {
  margin-top: 35px;
}

.subtitles {
  font-size: 3rem;
}

.yellow {
  color: $yellow;
}

.indigo {
  color: $indigo;
}

.white {
  color: #fff;
}

.otherfont {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
}

.offwhite {
  color: $offwhite1;
}

.explore {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 300;
}

.pinklight {
  color: $pinklight;
}

.aboutme {
  color: $yellow;
  &:hover {
    color: $primary;
  }
}

@include respond('phone') {
  .start_section {
    padding-top: 50px;
    margin-top: 20vh;
  }
  .subtitles {
    font-size: 1.7rem;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
