.project {
  &__card {
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0 0 0 0 transparent;
    width: 100%;
    height: 255px;
    background: grey;
    will-change: transform;

    a {
      color: white;
    }

    &-text {
      position: absolute;
      bottom: 30px;
      left: -50px;

      .t {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 300;
        padding: 8px 0px;
        letter-spacing: 2px;
      }

      .divider {
        margin: 5px 0px;
        border: 1px solid white;
        width: 120px;
      }

      .number {
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $grey;
      }

      .online_link {
        color: $indigo;
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }

    &-image {
      position: relative;
      width: 100%;
      height: 255px;
      img {
        width: 100%;
        height: 255px;
      }
      &::before {
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          65deg,
          rgba(16, 9, 27, 0.8),
          transparent 50%
        );
        position: absolute;
      }
    }

    &:hover {
      box-shadow: 4px 21px 44px -13px rgba(0, 0, 0, 0.75);
      //box-shadow: 5px 10px red;
    }

    @include respond('phone') {
      width: 90%;
      height: 220px;
      margin-left: 40px;

      &-text {
        left: -40px;
      }

      &-image {
        height: 220px;
        img {
          width: 100%;
          height: 220px;
        }
      }
    }
  }
}
