/* Color Scheme */
$primary: #e0a80d;
$background: #2d2e2e;
$text: #979899;
$heading: #a4a5a6;
// $grey: #494949;
// $white: #fff;
// $offwhite: rgba(235, 224, 224, 0.5);
// $offwhite1: rgba(255, 255, 255, 0.75);
// $aboutbg: #14121c;
// $yellow: #eeff31;
// $red: #ff1700;
// $orange: #fc5404;
// $pink: #ffc4e1;
// $pinklight: #ff48a5;
// $indigo: #5918df;
// $blue: #88fff7;
// $sky: #11ffee;

// $titlecolor: #988e9f;
